* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}

.mid-container {
  width: 100vw;
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 228, 196, 0.322);
}
